In [1]:
import requests 
import pandas as pd 
from plyer import notification
from datetime import datetime

In [4]:
url = 'https://brasilapi.com.br/api/banks/v1'
etapa = 'Buscar Dados'
resposta = requests.get(url).json()
resposta_code = requests.get(url).status_code

In [5]:
def alerta(codigo, etapa):
    data_atual = datetime.now().strftime('%d/%m/%y %H:%M:%S')

    msg = ''
    
    if resposta_code == 200:
        msg = 'Sucesso'
    else:
        msg = f'Falha Codigo {resposta_code}'
        
    mensagem = f'{msg} no carregamento na {url} na etapa {etapa}\n{data_atual}'
    
    if codigo != 200:
        codigo = 'ATENÇÃO: Conexao com Erro'
    else:
        codigo = 'Conectado com sucesso' 
    
    notification.notify(
        title=codigo,
        message=mensagem,
        timeout=10
    )

alerta(resposta_code, etapa)

In [6]:
df = pd.DataFrame(resposta)

In [7]:
df.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [8]:
df2 = df.loc[df['name']=='BANCO ORIGINAL']
df2

         ispb            name   code             fullName
355  92894922  BANCO ORIGINAL  212.0  Banco Original S.A.

In [73]:
df2 = df.loc[df['ispb']=='92875780']
df2

,ispb,name,code,fullName
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...